.main-page{
    display: grid;
    grid-template-areas: 
    's h'
    's v';
    grid-template-rows: 40px 1fr;
    height: 100vh;
    transition: .5s;
}

/* 사이드바 */
.main-page .side-bar{
    grid-area: s;
    background-color: #414141;
    color: #fff;
    position: relative;
}
.side-bar .tabs{
    padding: 10px 20px;
    width: 250px;
}
.side-bar .top{
    display: flex;
    align-items: center;
    height: 50px;
}
.side-bar .top button{
    margin-left: auto;
}
.open-tab{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-tab::after{
    position: fixed;
    content: '';
    width: 5px;
    height: 20px;
    background-color: white;
    padding: 5px 0;
    border-radius: 12px;
}

/* 헤더 */
.main-page .header{
    grid-area: h;
    display: flex;
    background-color: #fff;
}
.main-page .header button{
    padding: 10px 20px;
}
.main-page .header button.active{
    background-color: #f1f1f1;
}


/* 뷰어 */
.main-page .viewer{
    grid-area: v;
    background-color: #f1f1f1;
    overflow: scroll;
}
.logo {
    font-family: "Nanum Pen Script", cursive;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
