.switching-screen {
  animation: switching-screen 1s ease-in-out forwards;
} 

@keyframes switching-screen {
  0%{
    height: 0;
    bottom: -100vh;
  }
  25%{
    
    bottom: 0;
  }
  50%{
    height: 100vh;
    bottom: 0;
  }
  75%{
    bottom: 0;
  }
  100%{
    bottom: 100vh;
    
  }
}