.colors-picker{
  background-color: #181818;
  background-color: #414141;
  background-color: #7E37ED;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --purple : #7E37ED;
  --deep-purple : #601dcd;
  --deepbg : #32323D;
  --lightbg : #393944;
  --light-grey : #DEDAE3;
  --deep-grey : #c1c1c1;
}

button{
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

ul li{
  list-style: none;
}

a{
  all: unset;
}

input{
  all: unset;
  border-bottom: 1px solid #cecece;
}
input::placeholder{
  color: #aaa;
}

h4{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

.pd-box{
  padding: 10px 20px;
}



.drop-down-wrapper{
  margin-right: auto;
  position: relative;
}
.drop-down-wrapper .drop-down-btn{
  border: solid 1px var(--light-grey);
  background-color: #fff;
  border-radius: 12px;
  min-width: 200px;
  display: flex;
  gap: 5px;
  align-items: center;
  box-sizing: border-box;
  height: 45px;
  padding: 10px 20px;
  font-weight: bold;
}
/* 구글 Materal Icons 코드로 사용하는 방법 */
.drop-down-btn::after{
  content: '\e5c5'; /* 유니코드 */
  font-family: 'Material Icons'; /* 폰트 설정 */
  display: inline-block;
  font-size: 24px; 
  vertical-align: middle; /* 정렬 */
  transition: .2s;
  margin-left: auto;
}

.drop-down-btn.open::after{
  rotate: 180deg;
}
.drop-down-wrapper .drop-down-btn:hover{
  border: solid 1px var(--purple);
}
.drop-down-wrapper .drop-down-btn.open{
  border: solid 1px var(--deep-purple);
}
.drop-down-wrapper ul{
  display: none;
  position: absolute;
  top: 50px;
  border: solid 1px var(--deep-purple);
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
  padding: 10px;
}
.drop-down-wrapper ul.open{
  display: block;
  z-index: 10;
}
.drop-down-wrapper ul li{
  box-sizing: border-box;
  width: 100%;

}
.drop-down-wrapper ul li:hover{
  background-color: #ddd;
}
.drop-down-wrapper ul li button{
  padding: 5px 20px 5px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

