/* CKEditor 요소에 글로벌 스타일 적용하지 않기 */
*{
  box-sizing: border-box;
  --normal-weight: 400;
  --bold-weight: 700;
  --bolder-weight: 800;
  --light-weight: 300;

  
  /* --light-purple: #d3c6e7; */
  /* --purple: #7E37ED; */
  --first-light-purple: #EAEBFF;
  --second-light-purple: #D1B1FC;
  --light-purple: #8767D2;
  --purple: #6941C6;
  --deep-purple: #53389F;
  
  
  /* --deep-purple: #601dcd; */
  --deepbg: #32323D;
  --lightbg: #393944;
  --light-grey: #DEDAE3;
  --deep-grey: #c1c1c1;
  --fold-red: #c30928;
  line-height: 1.5;

  --color: #eaebff;
  --color: #333;
}

:root{
  --brand-white: #FBFBFC;

  --box-purple: #7F56DA;
  --bg-purple: #5D3FB8;

  --light-purple-font: #EAEBFF;
  --purple-font: #C3A2F7;

}

body{
  font-family: 'NanumSquare', sans-serif;
  margin: 0;
  padding: 0;
}



h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}

button{
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}


a{
  all: unset;
}

input{
  all: unset;
  line-height: 1.5;
  border-bottom: 1px solid transparent;
  padding-left: 2px;
}
input::placeholder{
  color: #aaa;
}

h4{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

.pd-box{
  padding: 10px 20px;
}

