*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --normal-weight : 400;
  --bold-weight: 700;
  --bolder-weight: 800;
  --light-weight: 300;

  --light-purple : #d3c6e7;
  --purple : #7E37ED;
  --deep-purple : #601dcd;
  --deepbg : #32323D;
  --lightbg : #393944;
  --light-grey : #DEDAE3;
  --deep-grey : #c1c1c1;
  --fold-red : #c30928;
  line-height: 1.5;
}

body{ font-family: 'NanumSquare', sans-serif }

button{
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

ul li{
  list-style: none;
}

a{
  all: unset;
}

input{
  all: unset;
  line-height: 1.5;
  border-bottom: 1px solid transparent;
  padding-left: 2px;
}
input::placeholder{
  color: #aaa;
}

h4{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

.pd-box{
  padding: 10px 20px;
}





