/* 카드 */
.card{
    box-sizing: border-box;
    border: solid 2px #d7d7d7;
    background-color: #fff;
    border-radius: 12px;
    min-height: 180px;
    margin-bottom: 10px;
}
.card.ending-field{
    min-height: 120px;
}
.card .pd{
    border-radius: 8px 8px 0 0;
    padding: 10px 20px;
}
.card.active{
    border: solid 2px var(--purple);
}

/* 페이지네이션 */
.card h4{
    background-color: var(--light-grey);
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.card.active h4{
    background-color: var(--purple);
}
/* 디폴트 */
.card .title-A,
.card .title-B{
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-bottom: 3px;
}
.card input.title-A:hover,
.card input.title-B:hover{
    border-bottom: 1px solid #cecece;
}
/* 타이틀 타입 */
.card .title-A{
    font-size: 22px;
}
.card .title-B{
    padding-top: 5px;
    font-size: 18px;
}
/* 필수 질문 */
.essential{
    position: relative;
}
.essential::before{
    content: '*';
    color: red;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

/* 디스크립션 */
.card .content-editor-wrapper{
    position: relative;
    margin: 10px 0;
}
.content-editor-wrapper > div{
    line-height: 1.5;
}
.card .content-placeholder{
    position: absolute;
    padding-left: 2px;
    padding-bottom: 5px;
    color: #aaa;
    pointer-events: none;
}
.card .content-editor{
    outline: none;
    padding-left: 2px;
    padding-bottom: 5px;
}
.card .content-editor:hover{
    border-bottom: 1px solid #cecece;
}
.card .content-editor-wrapper.on .content-editor{
    border-bottom: 2px solid var(--purple);
}

.card .content-placeholder:focus,
.card .content-editor:focus,
.card input:focus{
    border-bottom: 2px solid var(--purple) !important;
}

/* 질문 하단부분 추가 옵션 */
.add-option-wrapper{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 5px;
    position: relative;
}

.add-option-wrapper .drop-down-wrapper{
    margin-right: auto;
}

.toggle-option{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-option-wrapper .ox-btn{
    position: relative;
    font-weight: bold;
}

