/* 질문 하단부분 추가 옵션 */
.add-option-wrapper{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 5px;
    position: relative;
}

.add-option-wrapper .drop-down-wrapper{
    margin-right: auto;
}

.toggle-option{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-option-wrapper .ox-btn{
    position: relative;
    font-weight: bold;
}

