/* 유저버튼 UserButton */
.user-button{
    /* border: solid 3px var(--purple); */
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    cursor: pointer;
}
.user-button p{
    color: #777;
    font-weight: 700;
}
.user-button span{
    color: #777;
    font-weight: 300;
    margin-left: auto;
    font-size: 32px;
}


/* 주소 박스 FindAddress */
.post-box{
    border: solid 1px red;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.postcode{
    flex: 1;
    max-width: 100px;
    color: #601DCD;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}

.post-box button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--purple);
    color: #fff;
}
.post-box button:hover{
    background-color: var(--deep-purple);
}

.post-box input{
    padding: 5px 10px;
    font-weight: bold;
}