/* 점3개 버튼 */
.more-vert-wrapper{
    z-index: 10;
}
.more-vert-wrapper > button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-vert-wrapper > button > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
}
.more-vert-wrapper > button > span:hover{
    background-color: #fbfbfb;
    color: #2f2f2f;
    border-radius: 8px;
}
.modify-option{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    height: 0;
    transition: .2s;
    color: #000;
    font-size: 14px;
    box-shadow: 2px 2px 2px #ddd;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    z-index: 10;
}
.q-summary .more-vert-wrapper{
    margin-left: auto;
    margin-right: 10px;
}
.q-summary .modify-option{
    width: 70px;
}
.q-summary .modify-option.on{
    height: 80px;
    padding: 5px;
}
.q-summary .modify-option button{
    width: 100%;
    text-align: center;
}
.q-summary .modify-option button:nth-child(2){
    color: #e8291b;
}
.q-summary .modify-option button:hover{
    background-color: #ddd;
    border-radius: 8px;
}
.q-summary .modify-option button:nth-child(2):hover{
    background-color: #ffb6b6;
    border-radius: 8px;
}

.add-option-wrapper .modify-option{
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: none;
}
.add-option-wrapper .modify-option.on{
    height: 120px;
    padding: 5px;
    box-shadow: 0px 1px 4px 0px var(--deep-grey);
}
.add-option-wrapper .modify-option p{
    flex: 1;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.add-option-wrapper .modify-option p button{
    margin-left: auto;
    height: 24px;
}