/* 점3개 버튼 */
/* .more-vert-wrapper{
    z-index: 10;
} */
/* .more-vert-wrapper > button{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.more-vert-wrapper > button > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
}
.more-vert-wrapper > button > span:hover{
    background-color: #fbfbfb;
    color: #2f2f2f;
    border-radius: 8px;
}
.modify-option{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    height: 0;
    transition: .1s;
    color: #000;
    font-size: 14px;
    box-shadow: 2px 2px 2px #ddd;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.modify-option > *{
    flex: 1;
}
.q-tab .more-vert-wrapper{
    margin-left: auto;
}
.q-tab .modify-option{
    width: 70px;
}
.q-tab .modify-option button{
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.q-tab .modify-option button:disabled{
    color: #aaa;
}
.q-tab .modify-option button.remove{
    color: #e8291b;
}
.q-tab .modify-option button.remove:disabled{
    color: #ffb6b6;
}
.q-tab .modify-option button:hover{
    background-color: #ddd;
    border-radius: 8px;
}
.q-tab .modify-option button.remove:hover{
    background-color: #ffb6b6;
    border-radius: 8px;
}
.q-tab .modify-option button:disabled:hover{
    background-color: #eee;
}
/* 타이틀 morevert */
.p-summary .title-box{
    display: flex;
    position: relative;
}
.p-summary .more-vert-wrapper > button > span:hover{
    background-color: var(--purple);
    color: #fff;
    border-radius: 8px;
}
.p-summary.fold .more-vert-wrapper > button > span:hover{
    background-color: var(--fold-red);
}
.title-box .modify-option.on{
    height: 120px;
    padding: 5px;
}
/* 질문 morevert */
.q-summary .more-vert-wrapper{
    margin-right: 10px;
}
.q-summary .modify-option.on{
    height: 80px;
    padding: 5px;
}
/* q-card */
.add-option-wrapper .modify-option{
    width: 200px;
    display: flex;
    transition: none;
}
.add-option-wrapper .modify-option.on{
    height: 120px;
    padding: 5px;
    box-shadow: 0px 1px 4px 0px var(--deep-grey);
}
.add-option-wrapper .modify-option p{
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.add-option-wrapper .modify-option p button{
    margin-left: auto;
    height: 24px;
}