.login-page{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10vh;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.login-form{
    background-color: #fff;
    padding: 40px;
}

.login-form h2{
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--purple);
}
.login-form input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
}
.login-form .btns{
    margin-top: 40px;
    display: flex;
}
.login-form .btns button:nth-child(2){
    margin-left: auto;
    border-radius: 50px;
    padding: 10px 20px;
    border: solid 3px transparent;
    color: #fff;
    background-color: var(--purple);
    font-weight: bold;
}
.login-form .btns button:nth-child(2):hover{
    border: solid 3px var(--purple);
    background-color: #fff;
    color: var(--purple);
    
}

.login-page .show{
    border-top: 5px solid var(--purple);
}

.join-form{
    width: 40%;
}