.survey-manager{
    max-width: calc(260px * 5 + 20px * 4);
    margin: 30px auto;
}

.survey-manager .template-box{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 20px;
}
.survey-manager .rectangle{
    color: rgb(33, 33, 33);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    width: 260px;
    height: 160px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 10px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
/* 새로만들기 */
.rectangle .icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
    padding: 24px;
}
.rectangle .icon-box svg{
    width: 56px;
    height: 56px;
}
.rectangle .icon-box svg path{
    fill: #CDCDCD;
}
.survey-manager .rectangle .icon-box:hover{
    background-color: rgb(240, 242, 245);
}
.survey-manager .rectangle .icon-box:hover svg path{
    fill: var(--purple);
}
/* 데이터 있을 때 */
.survey-manager .rectangle .form-box{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.survey-manager .rectangle .form-box:hover{
    background-color: rgb(246, 246, 246);
}
.survey-manager .rectangle .form-box .form-status{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.survey-manager .rectangle .form-box .light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    background-color: #666a73;
    background-color: #d1180b;
    background-color: #599468;
    background-color: #ffd900;
    background-color: #0020c2;

    
}
.survey-manager .rectangle .form-box button{
    margin-left: auto;
    padding: 5px;
    width: 30px;
    height: 30px;
}
.survey-manager .rectangle .form-box button:hover{
    background-color: var(--light-grey);
    border-radius: 16px;
}
.survey-manager .rectangle .form-box button img{
    filter: opacity(0.5) drop-shadow(0 0 0 var(--deep-grey));
}
.survey-manager .rectangle .form-box h4{
    margin-bottom: 10px;
}


/* 모달 */
.survey-manager .modal{
    padding: 20px;
    border-radius: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px var(--purple);
}
.survey-manager .modal > div{
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.survey-manager .modal input{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-bottom: none;
}
.survey-manager .modal h4{
    border-top: solid 1px #e5e5e5;
    padding-top: 10px;
    margin-bottom: 10px;
}
.survey-manager .modal .btns{
    border-top: solid 1px #e5e5e5;
    padding-top: 10px;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.survey-manager .modal p{
    font-size: 14px;
    margin-bottom: 5px;
}
.survey-manager .modal .btns button{
    border-radius: 12px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-color: var(--purple);
}
.survey-manager .modal .btns button:hover{
    background-color: var(--deep-purple);
}



.create-survey{
    max-width: 1240px;
    margin: 60px auto;
}

.editor-box{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20px;
}

/* 카드 */
.editor-box .card{
    box-sizing: border-box;
    border: solid 2px #d7d7d7;
    
    background-color: #fff;
    border-radius: 12px;
    min-height: 200px;
    margin-bottom: 10px;
}
.card .pd-box{
    border-radius: 8px 8px 0 0;
}
.editor-box .card.active{
    border: solid 2px var(--purple);
}
/* 페이지 타이틀 */
.card h4{
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.card input{
    width: 100%;
    padding-bottom: 5px;
}
.card input.page-title{
    font-size: 24px;
}
.card input.question-title{
    padding-top: 10px;
    font-size: 20px;
}

.card .content-editor-wrapper{
    position: relative;
    margin: 10px 0;
}

.card .content-placeholder{
    position: absolute;
    padding-bottom: 5px;
    color: #aaa;
    pointer-events: none;
}

.card .content-editor{
    outline: none;
    border-bottom: 1px solid #cecece;
    min-height: 20px;
    padding-bottom: 5px;
}

.card .content-placeholder:focus,
.card .content-editor:focus,
.card input:focus{
    border-bottom: 2px solid var(--purple);
}

.add-option-wrapper{
    border-top: 1px solid black;
    margin-top: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.list-box{
    margin-right: auto;
    position: relative;
}



.add-option-wrapper .list-open-btn{
    border: solid 1px var(--light-grey);
    border-radius: 12px;
    width: 200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 45px;
    padding: 10px 20px;
    font-weight: bold;
}

.add-option-wrapper .list-open-btn:hover{
    border: solid 1px var(--purple);
}
.add-option-wrapper .list-open-btn.open{
    border: solid 1px var(--deep-purple);
}
.add-option-wrapper ul{
    display: none;
    position: absolute;
    top: 50px;
    border: solid 1px var(--deep-purple);
    border-radius: 12px;
    background-color: #fff;
    width: 200px;
    padding: 10px;
}
.add-option-wrapper ul.open{
    display: block;
    z-index: 10;
}
.add-option-wrapper ul li{
    padding: 5px 20px 5px 0px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-option-wrapper ul li:hover{
    background-color: #ddd;
}
.add-option-wrapper ul li button{
    width: 100%;
}
.add-option-wrapper .ox-btn{
    position: relative;
    font-weight: bold;
}
.add-option-wrapper .ox-btn::after{
    content: 'X';
    color: red;
    font-size: 28px;
    opacity: .3;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}
.add-option-wrapper .ox-btn.o::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px green;
}

.page-move{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.page-move .next{
    display: none;
}
.page-move button{
    border: solid 1px var(--deep-grey);
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    min-width: 250px;
}


/* 리모컨 */
.editor-box .remote-control{
    padding: 15px 20px;
    position: sticky;
    top: 20px;
    border: solid 1px #d7d7d7;
    background-color: #fff;
    border-radius: 12px;
    height: 80vh;
    width: 400px;
}
/* 리모컨 상단 버튼 */
.remote-control nav{
    height: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.remote-control nav button{
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}
.remote-control nav button.active{
    color: var(--purple);
    border-bottom: 2px solid var(--purple);
}
/* 리모컨 전체 문항 탭 요약*/
.q-tab{
    height: 100%;  
}
.q-tab .summary-wrapper{
    height: calc(100% - 100px);
    overflow: scroll;
    border: solid 1px #d7d7d7;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
.q-tab .summary-card{
    margin-top: 10px;
}
.q-tab .summary-card h4{
    font-size: 14px;
    color: var(--purple);
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    top: -15px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    background-color: #fff;
}
.q-tab .summary-card p.placeholder{
    color: #aaa;
}
.q-tab .h-summary{
    padding: 5px 10px;
    border: 2px solid transparent;
    border-top: 2px solid var(--purple);
}
.q-tab .summary-card:not(:first-child) .h-summary {
    margin-top: 40px;
}
.q-tab .h-summary p{
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.q-summary{
    border: solid 2px transparent;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
}
.q-summary p{
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h-summary.active,
.h-summary:hover{
    border: solid 2px var(--purple);
    border-radius: 12px;
}
.q-summary:hover,
.q-summary.active,
.q-summary:active{
    border: solid 2px var(--purple);
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
}

/* 리모컨 하단 버튼 */
.remote-control .q-btns{
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.remote-control .q-btns button{
    border-radius: 8px;
    border: solid 1px var(--purple);
    padding: 5px 10px;
}
.remote-control .q-btns button:hover{
    background-color: var(--purple);
    color: #fff;
}
.remote-control .q-btns button:disabled{
    color: var(--deep-grey);
}

.modify-wrapper{
    position: absolute;
    right: 5%;
    z-index: 10;
}

.modify-wrapper span{
    display: none;
    box-sizing: border-box;
    margin-left: auto;
    font-size: 18px;
    color: var(--light-grey);
    cursor: pointer;
}
.q-summary.active .modify-wrapper span{
    display: block;
}
.modify-wrapper span:hover{
    /* background-color: var(--light-grey); */
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.modify-option{
    position: absolute;
    right: 0px;
    top: 0;
    width: 70px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    height: 0;
    transition: .2s;
    color: #000;
    font-size: 14px;
    box-shadow: 2px 2px 2px #ddd;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}
.modify-option.on{
    height: 100px;
    padding: 5px;
}
.modify-option button{
    width: 100%;
    text-align: center;
}
.modify-option button:nth-child(2){
    color: #e8291b;
}
.modify-option button:hover{
    background-color: #ddd;
    border-radius: 8px;
}