.test-box{
    width: 100vw;
    height: 100vh;
}
.test-box .wrapper{
    box-sizing: border-box;
    display: block;
    padding: 5px;
    background-color: var(--purple);
    width: 500px;
    /* margin: 5px 0; */
}