.drop-area{
    width: 100%;
    color: #c2c2c2;
    border: 1px dashed #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    opacity: 1;
    transition: all .2s;
}

.hide-drop {
    opacity: 0;
    padding: 5px;
}