.colors-picker{
  background-color: #181818;
  background-color: #414141;
  background-color: #7E37ED;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --purple : #7E37ED;
  --deepbg : #32323D;
  --lightbg : #393944;
}

button{
  all: unset;
  cursor: pointer;
}

ul li{
  list-style: none;
}

input{
  all: unset;
  border-bottom: 1px solid #cecece;
}