@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

*{
  box-sizing: border-box;
  line-height: 1.5;
}

:root{
  --pk-imsi-no-use: #c30928;

  --white-font-color: #333;
  --white-first-background: #7E37ED;
  --white-second-background:#f1f1f1;
  --white-third-background: #e1e1e1;
  
  --white-side-border-right: #9A5BFF;
  --white-side-active: #9A5BFF;
  --white-side-button-hover: #af7eff;
  --white-side-depth2-opened-depth1: #af7eff;
  --white-user-info-border-top: #af7eff;
  --white-loginout: #333;

  --white-survey-card: #fafbfc;
  --white-create-survey-btn: #f6f6f6;
  --white-create-survey-btn-hover: #f0f2f5;

  --white-modal-background: #fafbfc;
  --white-modal-border-top: #ddd;
  --white-modal-font: #333;

  --white-myquestion-card: #fafbfc;
  --white-myquestion-checkbox: #ddd;
  --white-myquestion-typetext-border: #f0f2f5;
  --white-myquestion-answer-box: #ddd;
  --white-myquestion-detail-btn: #bbb;

  --white-search-from-background: #ddd;

  --pk-light-grey: #EDEDED;
  --pk-silver: #B0B0B0;

  --pk-yellow: #ffd54f;
  --pk-mint: #4dd0e1 ;

  --pk-deep-dark: #1E1E2E;
  --pk-dark: #2A2A40;
  --pk-charcoal: #444466;
  --pk-point: #7E37ED;
  --pk-purple-font: #af7eff;
  --pk-point-hover: #9A5BFF;
  --pk-fold-point: #f06292 ;

  --pk-container: 1300px;
}
  
body{
  font-family: 'NanumSquare', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--pk-deep-dark);
  color: var(--pk-light-grey);
}

a{
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}

button{
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}


a{
  all: unset;
}

input:not([type=checkbox], [type=range]){
  all: unset;
  line-height: 1.5;
  border-bottom: 1px solid transparent;
  padding-left: 2px;
}
input::placeholder{
  color: #aaa;
}

h4{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

.pd-box{
  padding: 10px 20px;
}
